<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Schedule a Room</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>

<body>

<div id="container">
	
    <div id="banner">  
        <img src="static/images/banner6.png" width="960" height="180"/> 
    </div>
    <div align="center" >
		{% extends "base.html" %}
		{% block title %}Log Out{% endblock %}
		{% block body %}
  		<h1>Logging Out...</h1>
  		<p>Are you sure you want to log out?</p>
  		<p>
    	<a href="{{confirmurl}}">Yes</a>
    	<a href="{{cancelurl}}">No</a>
  		</p>
		{% endblock %}
	</div>
	</div>
</body>
</html>