{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}

<br />

<div>
<a href="https://github.com/SCCapstone/RoomScheduling">Github link</a>
<h2>
	Developers
</h2>

<br />

<div>
	<h4>
		Taylor Tsuboi
	</h4>
	<div style="width:700px; margin:0; overflow: auto; border: 1px solid #d3d3d3; padding: 2px; text-align: left; background: transparent">
Is a senior computer science major at The University of South Carolina.<br/>
	</div>
</div>

<br />

<div>
	<h4>
		Miguel Contreras
	</h4>
	<div style="width:700px; margin:0; overflow: auto; border: 1px solid #d3d3d3; padding: 2px; text-align: left; background: transparent">
Is a senior computer science major at The University of South Carolina.<br/>
In his spare time he likes to take things apart and see how they work.<br/>
He likes to create art and once made an art installation with lasers using a spirograph he made at home.<br/>
To see where Miguel works check out his LinkedIn page: <a href="http://www.linkedin.com/in/sisharp" title="Miguel's LinkedIn" target="_blank">Miguel's LinkedIn</a><br/>
	</div>
</div>

</div>

{% endblock %}