{% extends "base.html" %}
{% block title %}List room requests{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
<div class="col-md-9">
	<form name="request" action="/admin" method="post">
	{% if rqs.count() > 0 %}
	<table class="table">

		<tr>
			<th>Approve</th>
			<th>Deny</th>
			<th>Room Number</th>
			<th>User ID</th>
			<th>Timestamp</th>
			<th>Start Date</th>
			<th>Start Time</th>
			<th>End Time</th>
		</tr>
		{% for rq in rqs %}
		<tr>

			<td><input type="checkbox" name="approve" value="{{rq.key()}}"></td>
			<td><input type="checkbox" name="deny" value="{{rq.key()}}"></td>
			<td>{{rq.roomnum}}</td>
			<td>{{rq.userid}}</td>
			<td>{{rq.timestamp}}</td>
			<td>{{rq.startdate}}</td>
			<td>{{timetable[rq.starttime]}}</td>
			<td>{{timetable[rq.endtime]}}</td>
		<tr>
		{% endfor %}
	</table>
	<input type="submit" value="Submit">
	{% else %}
	<p>No active requests.</p>
	{% endif %}
</div>
 {% endblock %}