{% extends "base.html" %}
{% block title %}List room requests{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<form name="request" action="/admin" method="post">
		<div align="center">
	{% if rqs.count() > 0 %}
	<table>

		<tr>
			<th>Approve</th>
			<th>Deny</th>
			<th>Room Number</th>
			<th>User ID</th>
			<th>Start Date</th>
			<th>Start Time</th>
			<th>End Date</th>
			<th>End Time</th>
		</tr>
		{% for rq in rqs %}
		<tr>

			<td><input type="checkbox" name="approve" value="{{rq.key()}}"></td>
			<td><input type="checkbox" name="deny" value="{{rq.key()}}"></td>
			<td>{{rq.roomnum}}</td>
			<td>{{rq.userid}}</td>
			<td>{{rq.startdate}}</td>
			<td>{{rq.starttime}}</td>
			<td>{{rq.enddate}}</td>
			<td>{{rq.endtime}}</td>
		<tr>
		{% endfor %}
	</table>
	<input type="submit" value="Submit">
	{% endif %}
	</div>
 {% endblock %}