{% extends "base.html" %}
{% block title %}Admin action success{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	
	<div class="col-md-9">
		{% if arqs %}
		Approved requests:<br />
			<table class="table">

			<tr>
			<th>Room Number</th>
			<th>User ID</th>
			<th>Start Date</th>
			<th>Start Time</th>
			<th>End Time</th>
			</tr>

		{% for arq in arqs %}
		<tr>
			<td>{{arq.roomnum}}</td>
			<td>{{arq.userid}}</td>
			<td>{{arq.startdate}}</td>
			<td>{{timetable[arq.starttime]}}</td>
			<td>{{timetable[arq.endtime]}}</td>
		<tr>
		{% endfor %}
		</table>
		{% endif %}
		
		{% if drqs %}
		Denied requests:<br />
			<table class="table">

			<tr>
			<th>Room Number</th>
			<th>User ID</th>
			<th>Start Date</th>
			<th>Start Time</th>
			<th>End Time</th>
			</tr>
	<br />
		{% for drq in drqs %}
		<tr>
			<td>{{drq.roomnum}}</td>
			<td>{{drq.userid}}</td>
			<td>{{drq.startdate}}</td>
			<td>{{timetable[drq.starttime]}}</td>
			<td>{{timetable[drq.endtime]}}</td>
		<tr>
		{% endfor %}
		</table>
		{% endif %}
	
{% endblock %}