<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}{% endblock %} - Room Scheduling</title>
<link rel="stylesheet" href="/css/style.css"/>
{% endblock %}
</head>

<body>

<div id="container">
	
    <div id="banner">  
        <img src="images/banner6.png" width="960" height="180"/> 
    </div>
    
	<div align="center" id="nav">
	   <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/equipment">Equipment</a></li>
        <li><a href="/rooms">Rooms</a></li>
		<li><a href="/roomlist">Scheduled Rooms</a></li>
        <li><a href="/help">Help</a></li>
       </ul>
    </div>
</div>

	{% block content %} {% endblock %}

</body>