<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Select Equipment</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>

<body>

<div id="container">
	
    <div id="banner">  
        <img src="images/banner6.png" width="960" height="180"/> 
    </div>
    
	<div align="center" id="nav">
	   <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/equipment">Equipment</a></li>
        <li><a href="/rooms">Rooms</a></li>
        <li><a href="/help">Help</a></li>
		<li><a style="background-image: none;"  href="{{logout_url}}">Logout</a></li>
       </ul>
    </div>
    
    <br  />
    
    <div align="center" id="wmsg">
    
    <p>Hello {{user.nickname}}, Please select equipment: </p>
    </div>
    <br  />
    
    <div id="form" align="center">
    <form name="esubmission" action="/esubmit" method="post" >
     Equipment:  <select name="equiptoselect" id="equiptoselect" onchange="">
 		<option name="equip" value="Projector">Projector</option>
 		<option name="equip" value="DVD Player">DVD Player</option>
 		<option name="equip" value="COW">COW</option>
 		<option name="equip" value="Flip Videos">Flip Videos</option>
 		<option name="equip" value="TV/VCR/DVD Cart">TV/VCR/DVD Cart</option>
 		<option name="equip" value="Speakers">Speakers</option>
 		<option name="equip" value="Portable SMART board">Portable SMART board</option>
 		<option name="equip" value="Posium">Posium</option>
 		<option name="equip" value="Blue/Red netbooks">Blue/Red netbooks</option>
 	</select>
     <br  />
     iClickers: <input type="text" name="iclickamt" id="iclickamt" >
     <br  />
     Laptops: <select name="laptoselect" id="laptoselect" onchange="">
 		<option name="equip" value="A">A</option>
 		<option name="equip" value="B">B</option>
 		<option name="equip" value="C">C</option>
 		<option name="equip" value="D">D</option>
 		<option name="equip" value="E">E</option>
 		<option name="equip" value="F">F</option>
 		<option name="equip" value="G">G</option>
 		<option name="equip" value="H">H</option>
 		<option name="equip" value="I">I</option>
 		<option name="equip" value="J">J</option>
 		<option name="equip" value="K">K</option>
 		<option name="equip" value="L">L</option>
 		<option name="equip" value="M">M</option>
 	</select>
	<br  />
    <input type="submit" value="Submit"  />
     
    </form>
    </div>
    
</div>

</body>
</html>