{% extends "base.html" %}
{% block title %}Reserve equipment{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
<div class="col-md-9">
    <form name="esubmission" action="/equipment" method="post" class="form-horizontal" role="form">
	<div class="form-group">
  <label for="equipmenttoselect" class="col-sm-2 control-label">Select equipment</label>
  <div class="col-sm-3">
  <select class="form-control" name="equipmenttoselect" id="equipmenttoselect">
   {% for etype in etypes %}
    <option name="equip" value="{{etype.equipmenttype}}">{{etype.equipmenttype}}</option>
   {% endfor %}
  </select>
  </div>
  </div>
    <div class="form-group">
    <label for="name" class="col-sm-2 control-label" name="iclickamt">iClickers</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="iclickamt" name="iclickamt" value="0">
    </div>
  </div>
  <div class="form-group">
  <label for="laptopselect" class="col-sm-2 control-label">Laptops</label>
  <div class="col-sm-3">
  <select class="form-control" name="laptopselect" id="laptopselect">
        <option name="equip" value="None">None</option>
 		<option name="equip" value="A">A</option>
 		<option name="equip" value="B">B</option>
 		<option name="equip" value="C">C</option>
 		<option name="equip" value="D">D</option>
 		<option name="equip" value="E">E</option>
 		<option name="equip" value="F">F</option>
 		<option name="equip" value="G">G</option>
 		<option name="equip" value="H">H</option>
 		<option name="equip" value="I">I</option>
 		<option name="equip" value="J">J</option>
 		<option name="equip" value="K">K</option>
 		<option name="equip" value="L">L</option>
 		<option name="equip" value="M">M</option>
 	</select>
	</div>
	</div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
</div>
    
{% endblock %}
