{% extends "base.html" %}
{% block title %}Reserve equipment{% endblock %}
{% block head %}
	{{ super() }}
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" href="/css/datepicker.css">
	<script src="/static/bootstrap-datepicker.js"></script>
{% endblock %}

{% block content %}
<div class="col-md-9">
    <form name="esubmission" action="/equipment" method="post" class="form-horizontal" role="form">
	 <div class="form-group">
    <label for="name" class="col-sm-2 control-label" name="name">Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="name" name="name" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-3">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
  </div>
	<div class="form-group">
  <label for="equipmenttoselect" class="col-sm-2 control-label">Select equipment</label>
  <div class="col-sm-3">
  <select class="form-control" name="equipmenttoselect" id="equipmenttoselect">
	<option name="equip" value="None">None</option>
   {% for etype in etypes %}
    <option name="equip" value="{{etype.equipmenttype}}">{{etype.equipmenttype}}</option>
   {% endfor %}
  </select>
  </div>
  </div>
    <div class="form-group">
    <label for="name" class="col-sm-2 control-label" name="iclickamt">iClickers</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="iclickamt" name="iclickamt" value="0">
    </div>
  </div>
  <div class="form-group">
  <label for="laptopselect" class="col-sm-2 control-label">Laptops</label>
  <div class="col-sm-3">
  <select class="form-control" name="laptopselect" id="laptopselect">
        <option name="equip" value="None">None</option>
 		<option name="equip" value="A">A</option>
 		<option name="equip" value="B">B</option>
 		<option name="equip" value="C">C</option>
 		<option name="equip" value="D">D</option>
 		<option name="equip" value="E">E</option>
 		<option name="equip" value="F">F</option>
 		<option name="equip" value="G">G</option>
 		<option name="equip" value="H">H</option>
 		<option name="equip" value="I">I</option>
 		<option name="equip" value="J">J</option>
 		<option name="equip" value="K">K</option>
 		<option name="equip" value="L">L</option>
 		<option name="equip" value="M">M</option>
 	</select>
	</div>
	</div>
	 <div class="form-group">
  <label for="sdate" class="col-sm-2 control-label">Date</label>
  <div class="col-sm-3">
  <div id="container">
<div class="input-group date">
  <input type="text" name="sdate" id="sdate" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>
</div>
</div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
</div>
 <script>
jQuery(function($) {
    $( ".input-group.date" ).datepicker();
  });
  </script>
    
{% endblock %}
