{% extends "base.html" %}
{% block title %}USC Room Scheduling{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
        
    <br  />
	<div align="center" id="login">  
    	{% if user %}
    	<p>Welcome, {{user.nickname()}}!</p>
		<a href="{{logout_url}}">Logout</a>
		{% if isadmin %}
		<p> ADMIN ACCESS</p>
		<a href="/admin">Check Scheduled Rooms</a><br />
		<a href="/calendar">iCal export</a>
		{% endif %}
		{% else %}
		<a href="{{login_url}}">Admin login</a>
		{% endif %}

	</div>
	<br/>
	<br/>
	<br/>
	<div align="center" id="video">
		
	
		<iframe width="480" height="360" src="//www.youtube.com/embed/vTk-qrRK-gQ" frameborder="0" allowfullscreen></iframe>
	</div>
    
{% endblock %}
