{% extends "base.html" %}
{% block title %}Submission successful{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}

	<div align="center" id = 'rconfirm'>
		<p><h1>Success</h1> </p>
		<br />
		<p>Successful Submission</p>
		
		<h3>You are requesting to reserve the following:</h3>
		Room: {{ roomnum }} <br/>
		At the following times:<br/>
		Start Date: {{ sdate }}<br/>
		End Date: {{ edate }}<br/>
		Start Time: {{ stime }}<br/>
		End Time: {{ etime }}<br/>
		
	    Time Submitted: {{timestamp}}  <br/>
	</div>

{% endblock %}