{% extends "base.html" %}
{% block title %}List scheduled rooms{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}

	<div class="col-md-9">
	<table class="table">

		<tr>
			<th>Room Number</th>
			<th>User ID</th>
			<th>Start Date</th>
			<th>Start Time</th>
			<th>End Date</th>
			<th>End Time</th>
		</tr>

		{% for rm in rms %}
		<tr>
		  
			<td>{{rm.roomnum}}</td>
			<td>{{rm.userid}}</td>
			<td>{{rm.startdate}}</td>
			<td>{{rm.starttime}}</td>
			<td>{{rm.enddate}}</td>
			<td>{{rm.endtime}}</td>
		<tr>
		{% endfor %}
	</table>
    </div>
{% endblock %}