{% extends "base.html" %}
{% block title %}Room Detail - {{ roomnum }}{% endblock %}
{% block head %}
	{{ super() }}
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" href="/css/datepicker.css">
	<script src="/static/bootstrap-datepicker.js"></script>
{% endblock %}

{% block content %}
<div class="col-md-9">
<form name="rsubmission" action="/rooms/{{roomnum}}" method="post" class="form-horizontal" role="form">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label" name="name">Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="name" name="name" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-3">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
  </div>
 <div class="form-group">
  <label for="sdate" class="col-sm-2 control-label">Date</label>
  <div class="col-sm-3">
  <div id="container">
<div class="input-group date">
  <input type="text" name="sdate" id="sdate" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>
</div>
</div>
  </div>
  <div class="form-group">
  <label for="stime" class="col-sm-2 control-label">Start time</label>
  <div class="col-sm-3">
  <select class="form-control" name="stime" id="stime">
      	<option name="time" value="0">8:00 AM</option>
    	<option name="time" value="1">9:00 AM</option>
    	<option name="time" value="2">10:00 AM</option>
    	<option name="time" value="3">11:00 AM</option>
    	<option name="time" value="4">12:00 PM</option>
    	<option name="time" value="5">1:00 PM</option>
    	<option name="time" value="6">2:00 PM</option>
    	<option name="time" value="7">3:00 PM</option>
    	<option name="time" value="8">4:00 PM</option>
    	<option name="time" value="9">5:00 PM</option>
    	<option name="time" value="10">6:00 PM</option>
    	<option name="time" value="11">7:00 PM</option>
    	<option name="time" value="12">8:00 PM</option>
  </select>
  </div>
  </div>
  <div class="form-group">
  <label for="etime" class="col-sm-2 control-label">End time</label>
  <div class="col-sm-3">
  <select class="form-control" name="etime" id="etime">
      	<option name="time" value="0">8:00 AM</option>
    	<option name="time" value="1">9:00 AM</option>
    	<option name="time" value="2">10:00 AM</option>
    	<option name="time" value="3">11:00 AM</option>
    	<option name="time" value="4">12:00 PM</option>
    	<option name="time" value="5">1:00 PM</option>
    	<option name="time" value="6">2:00 PM</option>
    	<option name="time" value="7">3:00 PM</option>
    	<option name="time" value="8">4:00 PM</option>
    	<option name="time" value="9">5:00 PM</option>
    	<option name="time" value="10">6:00 PM</option>
    	<option name="time" value="11">7:00 PM</option>
    	<option name="time" value="12">8:00 PM</option>
  </select>
  </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
	
	<table class="table">
		<tr>
			<th>Time</th>
			<th>Today</th>
			<th>Tomorrow</th>
			<th>Day After Tomorrow</th>
		</tr>
<tr><td>8:00 AM</td><td>{{blocktable[0][0]}}</td><td>{{blocktable[1][0]}}</td><td>{{blocktable[2][0]}}</td></tr>
<tr><td>9:00 AM</td><td>{{blocktable[0][1]}}</td><td>{{blocktable[1][1]}}</td><td>{{blocktable[2][1]}}</td></tr>
<tr><td>10:00 AM</td><td>{{blocktable[0][2]}}</td><td>{{blocktable[1][2]}}</td><td>{{blocktable[2][2]}}</td></tr>
<tr><td>11:00 AM</td><td>{{blocktable[0][3]}}</td><td>{{blocktable[1][3]}}</td><td>{{blocktable[2][3]}}</td></tr>
<tr><td>12:00 PM</td><td>{{blocktable[0][4]}}</td><td>{{blocktable[1][4]}}</td><td>{{blocktable[2][4]}}</td></tr>
<tr><td>1:00 PM</td><td>{{blocktable[0][5]}}</td><td>{{blocktable[1][5]}}</td><td>{{blocktable[2][5]}}</td></tr>
<tr><td>2:00 PM</td><td>{{blocktable[0][6]}}</td><td>{{blocktable[1][6]}}</td><td>{{blocktable[2][6]}}</td></tr>
<tr><td>3:00 PM</td><td>{{blocktable[0][7]}}</td><td>{{blocktable[1][7]}}</td><td>{{blocktable[2][7]}}</td></tr>
<tr><td>4:00 PM</td><td>{{blocktable[0][8]}}</td><td>{{blocktable[1][8]}}</td><td>{{blocktable[2][8]}}</td></tr>
<tr><td>5:00 PM</td><td>{{blocktable[0][9]}}</td><td>{{blocktable[1][9]}}</td><td>{{blocktable[2][9]}}</td></tr>
<tr><td>6:00 PM</td><td>{{blocktable[0][10]}}</td><td>{{blocktable[1][10]}}</td><td>{{blocktable[2][10]}}</td></tr>
<tr><td>7:00 PM</td><td>{{blocktable[0][11]}}</td><td>{{blocktable[1][11]}}</td><td>{{blocktable[2][11]}}</td></tr>
<tr><td>8:00 PM</td><td>{{blocktable[0][12]}}</td><td>{{blocktable[1][12]}}</td><td>{{blocktable[2][12]}}</td></tr>
		
	</table>
</div>
  <script>
jQuery(function($) {
    $( ".input-group.date" ).datepicker();
  });
  </script>
{% endblock %}