<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Submission Successful</title>
<link rel="stylesheet" href="/css/style.css"/>

</head>

<body>

<div id="container">
	
    <div id="banner">  
        <img src="images/banner6.png" width="960" height="180"/> 
    </div>
    
	<div align="center" id="nav">
		{% if user %}
	   <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/equipment">Equipment</a></li>
        <li><a href="/rooms">Rooms</a></li>
        <li><a style="background-image: none;" href="/help">Help</a></li>
       </ul>
		{% else %}
	   <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a style="background-image: none;" href="/help">Help</a></li>
       </ul>
       {% endif %}
    </div>
        
    <br  />

	<div align="center" id = 'rconfirm'>
		<p><h1>Success</h1> </p>
		<br />
		<p>Successful Submission for {{user.nickname}}</p>
		
		<h3>You are requesting to reserve the following:</h3>
		Room: {{ roomnum }} <br/>
		At the following times:<br/>
		Start Date: {{ sdate }}<br/>
		End Date: {{ edate }}<br/>
		Start Time: {{ stime }}<br/>
		End Time: {{ etime }}<br/>
		
	    Time Submitted: {{timestamp}}  <br/>
	</div>
		
<!-- 		<p>For Room: {{roomnum}} Starting at Date Time: {{sdate}} Ending: {{edate}} </p> -->
	</div>

</div>

</body>

</html>