{% extends "base.html" %}
{% block title %}List scheduled rooms{% endblock %}
{% block head %}
	{{ super() }}
	<script src="/static/jquery.tablesorter.min.js"></script>
	<link rel="stylesheet" href="/css/bluestyle.css">
{% endblock %}

{% block content %}

	<div class="col-md-9">
	<table class="table tablesorter" id="myTable">
		<thead>
		<tr>
			{% if isadmin %}
			<th>Delete</th>
			{% endif %}
			<th>Room Number</th>
			<th>User ID</th>
			<th>Date</th>
			<th>Start Time</th>
			<th>End Time</th>
		</tr>
		</thead>
		<tbody>
		{% for rm in rms %}
		<tr>
			{% if isadmin %}
			<td><a href="/delete?dkey={{rm.deletekey}}">X</a></td>
			{% endif %}
			<td>{{rm.roomnum}}</td>
			<td>{{rm.userid}}</td>
			<td>{{rm.startdate}}</td>
			<td>{{timetable[rm.starttime]}}</td>
			<td>{{timetable[rm.endtime]}}</td>
		<tr>
		{% endfor %}
	</tbody>
	</table>
    </div>
	<script>
	 $(function() {
    $("table#myTable").tablesorter();
  });
	</script>
{% endblock %}