@CHARSET "UTF-8";

body{
}

#banner{
    display: block;
    margin-left: auto;
  	margin-right: auto;
    width: 960px;
    height: 180px;
    
}

#form{
    margin-left: auto;
  	margin-right: auto;
}

#wmsg{
	margin-left: auto;
	margin-right: auto;
}

#nav{
	margin:0;
	padding:0;
}

#nav ul{
	list-style-type: none;
	background-image: url("/images/navi_bg.png");
	height: 80px;
	width: 960px;
	margin: auto;
}

#nav li{
	float: left;
	display: inline-block;
}

#nav ul a{
	background-image: url("/images/navi_bg_divider.png");
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 32px;
	padding-left: 32px;
	display: block;
	line-height: 80px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 21px;
	color: #371C1C;
}

#nav ul a:hover {
    color: #FFF;
}